---
pagination:
    data: bookmarks
    size: 9
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Using 11ty, FaunaDB, and Netlify to save bookmarks with an iOS Shortcut. Thanks to @Brob and Smashing Magazine.">
    <title>The Bookmarks of @bauhouse</title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <section class="intro">
    <h1>Bookmarks by <a href="https://twitter.com/bauhouse/">@bauhouse</a></h1>
    <p>Using 11ty, FaunaDB, and Netlify to save bookmarks with an iOS Shortcut. Thanks to <a href="https://twitter.com/Brob/">@Brob</a> and <a href="https://www.smashingmagazine.com/2019/10/bookmarking-application-faunadb-netlify-11ty/">Smashing Magazine</a>.</p>
    </section>

    <div class="search">
        <label for="searchApp">Search</label>
        <input placeholder="search for keywords in headlines..." type="text" id="searchApp" class="search-field">
        <div id="results" class="search-results"></div>
    </div>

    {% include pagination.html %}


    <ul class="bookmarks">
    {% for link in pagination.items %}
        {% if link.url and link.pageTitle %}
        <li>
            <h2><a href="{{ link.url }}">{{ link.pageTitle }}</a></h2>
            Saved on {{ link.time | date: "%b %d, %Y"  }}
            {% if link.description != "" %}
                <p>{{ link.description }}</p>
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
    </ul>

    {% include pagination.html %}


    <script src="/js/script.js"></script>
</body>
</html>
